fastapi
pydantic[email]
email-validator
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pillow
pandas
python-dotenv>=1.0.1
numpy<2
matplotlib
faiss-cpu
tqdm
opencv-python-headless
click
h11
starlette
pydantic
pydantic_core
pydantic_settings
typing_inspection
git+https://github.com/openai/CLIP.git
annotated_types
anyio
sniffio
exceptiongroup
packaging
pytz
python-dateutil
six
ftfy
wcwidth
regex
scikit-learn
sentence_transformers
huggingface_hub==0.36.0
# yaml
PyYAML
safetensors
scipy
joblib
threadpoolctl
tokenizers==0.19.1
transformers==4.44.0
# hf_xet
httpx
httpcore
annotated_doc
ecdsa